{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'orders/main.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block header %} Заказы {% endblock header %}
{% block content %}
<div class="row">
	<table id='orderList' data-unique-id='pk' data-pagination='true' data-url='{% url "api:order-list" %}'>
	</table>
</div>
<div class="row">
	<table id='statistics' data-show-refresh='true' data-undefined-text=0 data-response-handler='statisticsResponseHandler' data-pagination='true' data-toggle='table' data-url='{% url "api:order-list" %}'>
		<thead>
			<th data-field='date'>Дата</th>
			<th>Кликов</th>
			<th>CR</th>
			<th data-formatter='approvedFormatter'>Одобрено</th>
			<th data-field='accepted'>Принято</th>
			<th data-field='canceled'>Отменено</th>
			<th data-field='total'>Всего</th>
			<th data-field='sum_total' data-formatter='priceFormatter'>Сумма</th>
			<th data-field='sum_paid' data-formatter='priceFormatter'>Оплачено</th>
		</thead>
	</table>
</div>
{% endblock content %}
