{% extends "base.html" %}

{% block header %} Order list {% endblock header %}
{% block content %}
<script type="text/javascript" charset="utf-8">
$(function() {
	columns  = [
	{field: 'data', title: 'Order ID', formatter: dataFormatter('id')},
	{field: 'created_on', title: 'Created_on'},
	{field: 'domain', title: 'Domain'},
	{field: 'price', title: 'Price'},
	{field: 'data', formatter: dataFormatter('payment_status'), title: 'Payment status'},
	{field: 'data', formatter: dataFormatter('utm_source'), title: 'Utm_source'},
	{field: 'data', formatter: dataFormatter('utm_medium'), title: 'Utm_medium'},
	{field: 'data', formatter: dataFormatter('utm_campaign'), title: 'Utm_campaign'},
	{field: 'data', formatter: dataFormatter('utm_content'), title: 'Utm_content'},
	{field: 'data', formatter: dataFormatter('utm_term'), title: 'Utm_term'},
	{formatter: actionsFormatter, title: 'Actions'},
	]

	$('#orderList').bootstrapTable({
		columns: columns,
		pageSize: 25,
		pageList: '[50, 100, 250, All]',
		showRefresh: true,
	});
});

function actionsFormatter() {
	return '<a href="#">Delete</a>'
}

function dataFormatter(field) {
	return function(row, value) {
		return value['data'][field];
	}
}
</script>
<div class="row">
	<table id='orderList' data-unique-id='pk' data-pagination='true',  data-url='{% url "api:order-list" %}'>
	</table>
</div>
{% endblock content %}
